In [3]:
!!pip install mlxtend

['Requirement already satisfied: mlxtend in /Users/da_m1_52/anaconda3/lib/python3.10/site-packages (0.22.0)',
 'Requirement already satisfied: joblib>=0.13.2 in /Users/da_m1_52/anaconda3/lib/python3.10/site-packages (from mlxtend) (1.1.1)',
 'Requirement already satisfied: scikit-learn>=1.0.2 in /Users/da_m1_52/anaconda3/lib/python3.10/site-packages (from mlxtend) (1.2.2)',
 'Requirement already satisfied: setuptools in /Users/da_m1_52/anaconda3/lib/python3.10/site-packages (from mlxtend) (65.6.3)',
 'Requirement already satisfied: matplotlib>=3.0.0 in /Users/da_m1_52/anaconda3/lib/python3.10/site-packages (from mlxtend) (3.7.0)',
 'Requirement already satisfied: numpy>=1.16.2 in /Users/da_m1_52/anaconda3/lib/python3.10/site-packages (from mlxtend) (1.23.5)',
 'Requirement already satisfied: pandas>=0.24.2 in /Users/da_m1_52/anaconda3/lib/python3.10/site-packages (from mlxtend) (1.5.3)',
 'Requirement already satisfied: scipy>=1.2.1 in /Users/da_m1_52/anaconda3/lib/python3.10/site-packages (from mlxtend) (1.11.0)',
 'Requirement already satisfied: contourpy>=1.0.1 in /Users/da_m1_52/anaconda3/lib/python3.10/site-packages (from matplotlib>=3.0.0->mlxtend) (1.0.5)',
 'Requirement already satisfied: pyparsing>=2.3.1 in /Users/da_m1_52/anaconda3/lib/python3.10/site-packages (from matplotlib>=3.0.0->mlxtend) (3.0.9)',
 'Requirement already satisfied: pillow>=6.2.0 in /Users/da_m1_52/anaconda3/lib/python3.10/site-packages (from matplotlib>=3.0.0->mlxtend) (9.4.0)',
 'Requirement already satisfied: cycler>=0.10 in /Users/da_m1_52/anaconda3/lib/python3.10/site-packages (from matplotlib>=3.0.0->mlxtend) (0.11.0)',
 'Requirement already satisfied: fonttools>=4.22.0 in /Users/da_m1_52/anaconda3/lib/python3.10/site-packages (from matplotlib>=3.0.0->mlxtend) (4.25.0)',
 'Requirement already satisfied: python-dateutil>=2.7 in /Users/da_m1_52/anaconda3/lib/python3.10/site-packages (from matplotlib>=3.0.0->mlxtend) (2.8.2)',
 'Requirement already satisfied: packaging>=20.0 in /Users/da_m1_52/anaconda3/lib/python3.10/site-packages (from matplotlib>=3.0.0->mlxtend) (22.0)',
 'Requirement already satisfied: kiwisolver>=1.0.1 in /Users/da_m1_52/anaconda3/lib/python3.10/site-packages (from matplotlib>=3.0.0->mlxtend) (1.4.4)',
 'Requirement already satisfied: pytz>=2020.1 in /Users/da_m1_52/anaconda3/lib/python3.10/site-packages (from pandas>=0.24.2->mlxtend) (2022.7)',
 'Requirement already satisfied: threadpoolctl>=2.0.0 in /Users/da_m1_52/anaconda3/lib/python3.10/site-packages (from scikit-learn>=1.0.2->mlxtend) (2.2.0)',
 'Requirement already satisfied: six>=1.5 in /Users/da_m1_52/anaconda3/lib/python3.10/site-packages (from python-dateutil>=2.7->matplotlib>=3.0.0->mlxtend) (1.16.0)']

In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import joblib

In [8]:
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import LabelEncoder
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.feature_selection import mutual_info_classif
from sklearn.metrics import mean_squared_error, r2_score, mean_absolute_error
from sklearn.ensemble import StackingRegressor
from sklearn.preprocessing import StandardScaler
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import AdaBoostRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import cross_val_score, KFold
from sklearn.linear_model import Ridge
from sklearn import linear_model
from sklearn.feature_selection import mutual_info_regression
from sklearn.feature_selection import VarianceThreshold
from sklearn import preprocessing
from sklearn.linear_model import Lasso
from statsmodels.stats.outliers_influence import variance_inflation_factor

%matplotlib inline

In [9]:
df= pd.read_csv('/Users/da_m1_52/Downloads/AirBNB_modified.csv', sep = ';')

In [10]:
df.head()

,Unnamed: 0,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,...,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,Day_Of_Week,Month,Year,Seasons
0,0,2539,12321,2787,John,1,108,40.64749,-73.97237,1,...,1,9,2018-10-19,0.21,6,365,19,10,2018,0
1,1,2595,37440,2845,Jennifer,2,127,40.75362,-73.98377,0,...,1,45,2019-05-21,0.38,2,355,21,5,2019,0
2,2,3647,43522,4632,Elisabeth,2,94,40.80902,-73.94190,1,...,3,0,2019-05-21,1.37,1,365,21,5,2019,0
3,3,3831,14776,4869,LisaRoxanne,1,41,40.68514,-73.95976,0,...,1,270,2019-07-05,4.64,1,194,5,7,2019,0
4,4,5022,18684,7192,Laura,2,61,40.79851,-73.94399,0,...,10,9,2018-11-19,0.10,1,0,19,11,2018,0

In [10]:
month_mapping = {
    'January': 1,
    'February': 2,
    'March': 3,
    'April': 4,
    'May': 5,
    'June': 6,
    'July': 7,
    'August': 8,
    'September': 9,
    'October': 10,
    'November': 11,
    'December': 12
}

df['Month'] = df['Month'].map(month_mapping)
df

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,Day_Of_Week,Month,Year,Seasons
0,2539,Clean & quiet apt home by the park,2787,John,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1,9,2018-10-19,0.21,6,365,19,10,2018,Fall
1,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225,1,45,2019-05-21,0.38,2,355,21,5,2019,Spring
2,3647,THE VILLAGE OF HARLEM....NEW YORK !,4632,Elisabeth,Manhattan,Harlem,40.80902,-73.94190,Private room,150,3,0,2019-05-21,1.37,1,365,21,5,2019,Spring
3,3831,Cozy Entire Floor of Brownstone,4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89,1,270,2019-07-05,4.64,1,194,5,7,2019,Summer
4,5022,Entire Apt: Spacious Studio/Loft by central park,7192,Laura,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,80,10,9,2018-11-19,0.10,1,0,19,11,2018,Fall
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48853,36484665,Charming one bedroom - newly renovated rowhouse,8232441,Sabrina,Brooklyn,Bedford-Stuyvesant,40.67853,-73.94995,Private room,70,2,0,2019-07-08,1.37,2,9,8,7,2019,Summer
48854,36485057,Affordable room in Bushwick/East Williamsburg,6570630,Marisol,Brooklyn,Bushwick,40.70184,-73.93317,Private room,40,4,0,2019-07-08,1.37,2,36,8,7,2019,Summer
48855,36485431,Sunny Studio at Historical Neighborhood,23492952,Ilgar & Aysel,Manhattan,Harlem,40.81475,-73.94867,Entire home/apt,115,10,0,2019-07-08,1.37,1,27,8,7,2019,Summer
48856,36485609,43rd St. Time Square-cozy single bed,30985759,Taz,Manhattan,Hell's Kitchen,40.75751,-73.99112,Shared room,55,1,0,2019-07-08,1.37,6,2,8,7,2019,Summer
48857,36487245,Trendy duplex in the very heart of Hell's Kitchen,68119814,Christophe,Manhattan,Hell's Kitchen,40.76404,-73.98933,Private room,90,7,0,2019-07-08,1.37,1,23,8,7,2019,Summer

In [24]:
from sklearn.preprocessing import LabelEncoder

season_mapping = {
    'Spring': 1,
    'Summer': 2,
    'Autumn': 3,
    'Winter': 4
}

df['Seasons'] = df['Seasons'].map(season_mapping)

le = LabelEncoder()
df['Seasons'] = le.fit_transform(df['Seasons'])
df

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,Day_Of_Week,Month,Year,Seasons
0,2539,12321,2787,John,1,108,40.64749,-73.97237,1,149,1,9,2018-10-19,0.21,6,365,19,10,2018,0
1,2595,37440,2845,Jennifer,2,127,40.75362,-73.98377,0,225,1,45,2019-05-21,0.38,2,355,21,5,2019,0
2,3647,43522,4632,Elisabeth,2,94,40.80902,-73.94190,1,150,3,0,2019-05-21,1.37,1,365,21,5,2019,0
3,3831,14776,4869,LisaRoxanne,1,41,40.68514,-73.95976,0,89,1,270,2019-07-05,4.64,1,194,5,7,2019,0
4,5022,18684,7192,Laura,2,61,40.79851,-73.94399,0,80,10,9,2018-11-19,0.10,1,0,19,11,2018,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48853,36484665,11640,8232441,Sabrina,1,13,40.67853,-73.94995,1,70,2,0,2019-07-08,1.37,2,9,8,7,2019,0
48854,36485057,3518,6570630,Marisol,1,28,40.70184,-73.93317,1,40,4,0,2019-07-08,1.37,2,36,8,7,2019,0
48855,36485431,42446,23492952,Ilgar & Aysel,2,94,40.81475,-73.94867,0,115,10,0,2019-07-08,1.37,1,27,8,7,2019,0
48856,36485609,2570,30985759,Taz,2,95,40.75751,-73.99112,2,55,1,0,2019-07-08,1.37,6,2,8,7,2019,0
48857,36487245,44517,68119814,Christophe,2,95,40.76404,-73.98933,1,90,7,0,2019-07-08,1.37,1,23,8,7,2019,0

In [22]:
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()
df['room_type'] = le.fit_transform(df['room_type'])
df

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,Day_Of_Week,Month,Year,Seasons
0,2539,12321,2787,John,1,108,40.64749,-73.97237,1,149,1,9,2018-10-19,0.21,6,365,19,10,2018,NaN
1,2595,37440,2845,Jennifer,2,127,40.75362,-73.98377,0,225,1,45,2019-05-21,0.38,2,355,21,5,2019,1.0
2,3647,43522,4632,Elisabeth,2,94,40.80902,-73.94190,1,150,3,0,2019-05-21,1.37,1,365,21,5,2019,1.0
3,3831,14776,4869,LisaRoxanne,1,41,40.68514,-73.95976,0,89,1,270,2019-07-05,4.64,1,194,5,7,2019,2.0
4,5022,18684,7192,Laura,2,61,40.79851,-73.94399,0,80,10,9,2018-11-19,0.10,1,0,19,11,2018,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48853,36484665,11640,8232441,Sabrina,1,13,40.67853,-73.94995,1,70,2,0,2019-07-08,1.37,2,9,8,7,2019,2.0
48854,36485057,3518,6570630,Marisol,1,28,40.70184,-73.93317,1,40,4,0,2019-07-08,1.37,2,36,8,7,2019,2.0
48855,36485431,42446,23492952,Ilgar & Aysel,2,94,40.81475,-73.94867,0,115,10,0,2019-07-08,1.37,1,27,8,7,2019,2.0
48856,36485609,2570,30985759,Taz,2,95,40.75751,-73.99112,2,55,1,0,2019-07-08,1.37,6,2,8,7,2019,2.0
48857,36487245,44517,68119814,Christophe,2,95,40.76404,-73.98933,1,90,7,0,2019-07-08,1.37,1,23,8,7,2019,2.0

In [17]:
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()
df['neighbourhood_group'] = le.fit_transform(df['neighbourhood_group'])
df

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,Day_Of_Week,Month,Year,Seasons
0,2539,Clean & quiet apt home by the park,2787,John,1,Kensington,40.64749,-73.97237,2,149,1,9,2018-10-19,0.21,6,365,19,10,2018,NaN
1,2595,Skylit Midtown Castle,2845,Jennifer,2,Midtown,40.75362,-73.98377,1,225,1,45,2019-05-21,0.38,2,355,21,5,2019,1.0
2,3647,THE VILLAGE OF HARLEM....NEW YORK !,4632,Elisabeth,2,Harlem,40.80902,-73.94190,2,150,3,0,2019-05-21,1.37,1,365,21,5,2019,1.0
3,3831,Cozy Entire Floor of Brownstone,4869,LisaRoxanne,1,Clinton Hill,40.68514,-73.95976,1,89,1,270,2019-07-05,4.64,1,194,5,7,2019,2.0
4,5022,Entire Apt: Spacious Studio/Loft by central park,7192,Laura,2,East Harlem,40.79851,-73.94399,1,80,10,9,2018-11-19,0.10,1,0,19,11,2018,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48853,36484665,Charming one bedroom - newly renovated rowhouse,8232441,Sabrina,1,Bedford-Stuyvesant,40.67853,-73.94995,2,70,2,0,2019-07-08,1.37,2,9,8,7,2019,2.0
48854,36485057,Affordable room in Bushwick/East Williamsburg,6570630,Marisol,1,Bushwick,40.70184,-73.93317,2,40,4,0,2019-07-08,1.37,2,36,8,7,2019,2.0
48855,36485431,Sunny Studio at Historical Neighborhood,23492952,Ilgar & Aysel,2,Harlem,40.81475,-73.94867,1,115,10,0,2019-07-08,1.37,1,27,8,7,2019,2.0
48856,36485609,43rd St. Time Square-cozy single bed,30985759,Taz,2,Hell's Kitchen,40.75751,-73.99112,3,55,1,0,2019-07-08,1.37,6,2,8,7,2019,2.0
48857,36487245,Trendy duplex in the very heart of Hell's Kitchen,68119814,Christophe,2,Hell's Kitchen,40.76404,-73.98933,2,90,7,0,2019-07-08,1.37,1,23,8,7,2019,2.0

In [18]:
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()
df['neighbourhood'] = le.fit_transform(df['neighbourhood'])
df

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,Day_Of_Week,Month,Year,Seasons
0,2539,Clean & quiet apt home by the park,2787,John,1,108,40.64749,-73.97237,2,149,1,9,2018-10-19,0.21,6,365,19,10,2018,NaN
1,2595,Skylit Midtown Castle,2845,Jennifer,2,127,40.75362,-73.98377,1,225,1,45,2019-05-21,0.38,2,355,21,5,2019,1.0
2,3647,THE VILLAGE OF HARLEM....NEW YORK !,4632,Elisabeth,2,94,40.80902,-73.94190,2,150,3,0,2019-05-21,1.37,1,365,21,5,2019,1.0
3,3831,Cozy Entire Floor of Brownstone,4869,LisaRoxanne,1,41,40.68514,-73.95976,1,89,1,270,2019-07-05,4.64,1,194,5,7,2019,2.0
4,5022,Entire Apt: Spacious Studio/Loft by central park,7192,Laura,2,61,40.79851,-73.94399,1,80,10,9,2018-11-19,0.10,1,0,19,11,2018,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48853,36484665,Charming one bedroom - newly renovated rowhouse,8232441,Sabrina,1,13,40.67853,-73.94995,2,70,2,0,2019-07-08,1.37,2,9,8,7,2019,2.0
48854,36485057,Affordable room in Bushwick/East Williamsburg,6570630,Marisol,1,28,40.70184,-73.93317,2,40,4,0,2019-07-08,1.37,2,36,8,7,2019,2.0
48855,36485431,Sunny Studio at Historical Neighborhood,23492952,Ilgar & Aysel,2,94,40.81475,-73.94867,1,115,10,0,2019-07-08,1.37,1,27,8,7,2019,2.0
48856,36485609,43rd St. Time Square-cozy single bed,30985759,Taz,2,95,40.75751,-73.99112,3,55,1,0,2019-07-08,1.37,6,2,8,7,2019,2.0
48857,36487245,Trendy duplex in the very heart of Hell's Kitchen,68119814,Christophe,2,95,40.76404,-73.98933,2,90,7,0,2019-07-08,1.37,1,23,8,7,2019,2.0

In [20]:
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()
df['name'] = le.fit_transform(df['name'])
df

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,Day_Of_Week,Month,Year,Seasons
0,2539,12321,2787,John,1,108,40.64749,-73.97237,2,149,1,9,2018-10-19,0.21,6,365,19,10,2018,NaN
1,2595,37440,2845,Jennifer,2,127,40.75362,-73.98377,1,225,1,45,2019-05-21,0.38,2,355,21,5,2019,1.0
2,3647,43522,4632,Elisabeth,2,94,40.80902,-73.94190,2,150,3,0,2019-05-21,1.37,1,365,21,5,2019,1.0
3,3831,14776,4869,LisaRoxanne,1,41,40.68514,-73.95976,1,89,1,270,2019-07-05,4.64,1,194,5,7,2019,2.0
4,5022,18684,7192,Laura,2,61,40.79851,-73.94399,1,80,10,9,2018-11-19,0.10,1,0,19,11,2018,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48853,36484665,11640,8232441,Sabrina,1,13,40.67853,-73.94995,2,70,2,0,2019-07-08,1.37,2,9,8,7,2019,2.0
48854,36485057,3518,6570630,Marisol,1,28,40.70184,-73.93317,2,40,4,0,2019-07-08,1.37,2,36,8,7,2019,2.0
48855,36485431,42446,23492952,Ilgar & Aysel,2,94,40.81475,-73.94867,1,115,10,0,2019-07-08,1.37,1,27,8,7,2019,2.0
48856,36485609,2570,30985759,Taz,2,95,40.75751,-73.99112,3,55,1,0,2019-07-08,1.37,6,2,8,7,2019,2.0
48857,36487245,44517,68119814,Christophe,2,95,40.76404,-73.98933,2,90,7,0,2019-07-08,1.37,1,23,8,7,2019,2.0

In [26]:
missing_values = df.isnull().sum()
missing_values_per_column = df.isnull().sum(axis=0)
print(missing_values)
print(missing_values_per_column)

id                                0
name                              0
host_id                           0
host_name                         0
neighbourhood_group               0
neighbourhood                     0
latitude                          0
longitude                         0
room_type                         0
price                             0
minimum_nights                    0
number_of_reviews                 0
last_review                       0
reviews_per_month                 0
calculated_host_listings_count    0
availability_365                  0
Day_Of_Week                       0
Month                             0
Year                              0
Seasons                           0
dtype: int64
id                                0
name                              0
host_id                           0
host_name                         0
neighbourhood_group               0
neighbourhood                     0
latitude                          0
longitude                         0
room_type                         0
price                             0
minimum_nights                    0
number_of_reviews                 0
last_review                       0
reviews_per_month                 0
calculated_host_listings_count    0
availability_365                  0
Day_Of_Week                       0
Month                             0
Year                              0
Seasons                           0
dtype: int64

In [27]:
# #Save the modified DataFrame back to the CSV file
df.to_csv('/Users/da_m1_52/Downloads/AirBNB_modified.csv', sep=';')

In [25]:
columns_of_interest = ['name', 'neighbourhood_group', 'neighbourhood', 'room_type', 'price', 'number_of_reviews', 'calculated_host_listings_count', 'availability_365', 'minimum_nights']
summary_stats = df[columns_of_interest].describe()
summary_stats

,name,neighbourhood_group,neighbourhood,room_type,price,number_of_reviews,calculated_host_listings_count,availability_365,minimum_nights
count,48858.000000,48858.000000,48858.000000,48858.000000,48858.000000,48858.000000,48858.000000,48858.000000,48858.000000
mean,23950.059704,1.675447,107.130910,0.503991,152.740309,23.273098,7.148369,112.801425,7.012444
std,13805.061232,0.735846,68.746868,0.545375,240.232386,44.549898,32.964600,131.610962,20.019757
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,1.000000
25%,12001.250000,1.000000,51.000000,0.000000,69.000000,1.000000,1.000000,0.000000,1.000000
50%,23919.500000,2.000000,94.000000,0.000000,106.000000,5.000000,1.000000,45.000000,3.000000
75%,35887.750000,2.000000,178.000000,1.000000,175.000000,24.000000,2.000000,227.000000,5.000000
max,47883.000000,4.000000,220.000000,2.000000,10000.000000,629.000000,327.000000,365.000000,1250.000000